@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
	margin: 0;
	background-color: #f7f7f7 !important;
}

.header {
	background-color: #ffd9d6;
	padding: 10px;
	color: navy;
}

nav {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	text-align: center;
}
nav a {
	text-decoration: none;
	color: #777;
	font-size: 1.5rem;
	font-family: "Kaushan Script", sans-serif;
	letter-spacing: ;
}

nav h1{
	line-height: 1em;
	font-family: 'Dancing Script', cursive;
}
nav h1 div:first-child{
	font-weight: 800;
	letter-spacing: 3px;
}

nav h1 div:last-child{
	font-weight: 800;
	letter-spacing: 1px;
}

main {
	max-width: 1200px;
	margin: 20px auto;
	padding:  20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	grid-auto-rows: 600px;
}

main div{
	overflow: hidden;
	background-color: #fff;
	border: 8px solid #fff;
	border-radius: 5%;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-article{
	grid-auto-rows: 300px;
	grid-column: span 4;
	disply: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
}
.main-article p {
	border-top: 1px solid #777;
	font-family: "Kaushan Script", cursive;
	font-size: 3rem;
	font-style: italic;
	grid-column: span 2;
	position: relative;

}
.main-article img {
	margin: 0 auto;
	max-height: 400px;
	overflow: hidden;
	grid-column: span 2;
}
.previous-works{
	grid-column: span 4;
	border: none;
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	color: #777;
	font-family: 'Kaushan Script', cursive;
	z-index: -1;
}
.previous-works h2{
	font-size: 3rem;
	text-align: center;
}
.previous-works:before, .previous-works:after {
	content: "";
	display: block;
	width: 20%;
	height: 1px;
	background: #777;
	top: 50%;
	margin: 0 10px 0 10px;
}
.image-block{
	max-height: 600px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin: 0 auto;
	grid-column: span 4;
}
.test{
	grid-column: span 4;
}

.footer{
	width: 100%;
	background-color: #ffd9d6;
	min-height: 150px;
	display: flex;
	align-items: center;
	padding: 5%;
}

@media only screen and (min-width: 680px){
	
	.test{
		grid-column: span 2;
		max-height: 475px;
	}
	.image-block{
		max-height: 475px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		margin: 0 auto;
		grid-column: span 4;
	}
	main {
		max-width: 1200px;
		margin: 20px auto;
		padding:  20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		grid-auto-rows: 475px;
	}
	.main-article{
		grid-auto-rows: 450px;
		grid-column: span 4;
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		align-items: center;
	}
	nav a {
		text-decoration: none;
		color: #777;
		font-size: 1.5rem;
		font-family: cursive;
		letter-spacing: .125em;
	}
	.main-article p {
		border-left: 1px solid #777;
		border-top: none;
		padding: 10%;
		font-family: "Dancing Script", cursive;
		font-size: 3rem;
		font-style: italic;
		grid-column: span 1;
	}
	.main-article img {
		margin: 0 auto;
		max-height: 450px;
		overflow: hidden;
		grid-column: span 1;
	}
}

@media only screen and (min-width: 1080px){
	
	.test{
		grid-column: span 1;
		max-height: 350px;
	}
	.image-block{
		max-height: 350px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		margin: 0 auto;
		grid-column: span 4;
	}
	main {
		max-width: 1200px;
		margin: 20px auto;
		padding:  20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		grid-auto-rows: 300px;
	}
	.main-article{
		grid-auto-rows: 300px;
		grid-column: span 4;
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		align-items: center;
	}
	nav a {
		text-decoration: none;
		color: #777;
		font-size: 1.5rem;
		font-family: cursive;
		letter-spacing: .25em;
	}
	.main-article p {
		border-left: 1px solid #777;
		padding: 10%;
		font-family: "Dancing Script", cursive;
		font-size: 3rem;
		font-style: italic;
	}
	.main-article img {
		margin: 0 auto;
		max-height: 400px;
		overflow: hidden;
	}
}
